
body {
	background-color: white;
}

.login-title {
	position: relative;
	text-align: center;
	color: blue;
}

.login-section {
	position: relative;
	text-align: center;
}

.login-btn {
	margin-top: 20%;
	border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
    background-color: #e7e7e7;
    color: black;
    border: 2px solid #f44336;
    outline: none;
/*     transition: all 0.5s; */
}

.login-btn:hover {
	background-color: #f44336;
    color: white;
}

.login-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

.login-btn span:after {
  content: '>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0px;
  transition: 0.4s;
  color: white;
}

.login-btn:hover span {
  padding-right: 8px;
  color: white;
}

.login-btn:hover span:after {
  opacity: 1;
  right: -10px; 
  color: #e7e7e7;
}
