
.header-home-title {
	width: 60%;
	position: relative;
	text-align: center;
	color: blue;
	float: left;
	margin-top: -10px;
	margin-left: 20%;
    background-color: #f5f5f5;
    border-bottom: 2px solid #e5e5e5;
	z-index: 2;
}

.aside-left {
	position: fixed;
	background-color: #eeeeee;
	width: 20%;
	height: 100%;
	float: left;
	text-align: left;
	overflow: auto;
	z-index: 0;
}

.main-section {
	position: relative;
	text-align: center;
	margin-left: 20%;
	width: 60%;
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
	min-height: 1000px;
	z-index: 1;
}

.aside-right {
	position: fixed;
	background-color: #eeeeee;
	width: 20%;
	height: 100%;
	margin-left: 80%;
	float: right;
	text-align: center;
	overflow: auto;
	z-index: 3;
}

footer {
	clear: both;
	text-align: center;
	position: relative;
	padding-top: 20px;
	height: 5%;
	min-height: 25px;
	background-color: #eeeeee;
}

.aside-left-container{
	z-index: 4;
}

.aside-left-options-list {
	list-style-type: none;
	-webkit-padding-start: 0px;
}

.aside-left-options-list li {
	display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    margin-left: -5px;
    cursor: pointer;
}

.aside-left-options-list li span {
	margin-left: 15%;
	margin-right: 35%;
	text-align: left;
	width: 50%;
}

.aside-left-options-list li:hover {
	background-color: #555;
    color: white;
}

.aside-right .top-btn {
	margin-left: 20px;
}

.aside-right .top-btn button {
	background-color: #0099ff;
    border: 0px solid rgb(153, 214, 255);
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    float: left;
}

.aside-right .top-btn button:hover {
	background-color: #007acc;
}